/*CSS Starts*/
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family: Jengkol;
	src: url(Jengkol.ttf);
}
/*Preloader*/

#preloader {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	background: #272727;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden !important;
}

#preloader img {
	width: 30rem;
}
/*Custom Scrollbar*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #7a7a7a;
}

::-webkit-scrollbar-thumb {
	background: #424242;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.navigation
{
	width: 100%;
	background: #c2c2c2;
	box-sizing: border-box;
	border-bottom: 2px solid #a6a6a6;
	
}
.navigation .header:hover {
	transform: scale(1.02);
}

.navigation .header {
	font-family: Jengkol;
	font-size: 2vw;
	color: #000000;
	transition: all 0.3s ease;
	cursor: pointer;
	margin-left: 10px;
}
.navigation .header span
{
	color: #035282;
}
.navigation .logo-container a
{
	text-decoration: none;

}

.navigation .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.max-width {
	padding: 30px;
	text-decoration: none;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li a {
	text-decoration: none;
	margin-left: 30px;
	font-size: 17px;
	color: #01111b;
	font-family: Kanit;
	border-radius: 10px;
	transition: all 0.3s ease;
	padding: 4px 11px;
	position: relative;
}

nav .nav-button::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #000000;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

nav .nav-button:hover::before {
	transform: scaleX(1);
}

nav ul li #active {
	border: 2px solid #000000;
}

nav ul li {
	display: flex;
	align-items: center;
}

nav ul i {
	font-size: 17px;
	display: flex;
	align-items: center;
}


#contact {
	padding: 0.3rem 1.3rem;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	background-color: #035282;
	color: #ffffff;
	font-family: Kanit;
	transition: all 0.2s ease;
}

#contact:hover {
	background-color: #023554;
}

.switch 
{
	display: inline-block;
	height: 25px;
	position: relative;
	width: 45px;
	margin-left: 15px;
	margin-right: 15px;
}
  
.switch input {
	display:none;
  }
  
.slider {
	background-color: #0e0e0e;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
  }
  
.slider::before {
	background-color: #fff;
	bottom: 3px;
	content: "\f186";
	height: 20px;
	left: 4px;
	position: absolute;
	transition: all .4s ease;
	width: 20px;
	font: var(--fa-font-solid);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #535353;
  }
  
input:checked + .slider {
	background-color: #afb58d;
	;
  }
  
 input:checked + .slider::before {
	transform: translateX(18px);
	font: var(--fa-font-solid);
	content: "\f185";
	color: #ce7c00;
  }
  
.slider.round {
	border-radius: 34px;
  }
  
 .slider.round:before {
	border-radius: 50%;
  }
 